<%- include('./partials/headcreate'); %> 
<%- include('./partials/headerclean'); %> 

  <main class="container col-12 mt-3" style="background-color: lightgray !important">
    
    <h1 class="text-center text-black mt-3 mb-5">Administrador</h1> 

    <div class="row">
    <div class="treecards col-3 mb-5 ml-4" id="">

      <div class="col-md-9"  style="background-color: white">
        <div class="treecards" style ="">
          <div class="mb-2">
            <h5 class="treecards-title text-center ml-4"> Visitas</h5>
            <input type="number" class="form-control col-12" value="" name ="visitas" id="visitas"> 
            <input type="number" class="form-control col-12" value="" name ="visitas" id="visitas">   
            <div class="input-group my-1">
              <!-- <sf> -->
            </div>                   
          </div>
        </div>
      </div>

      <div class="col-md-9"  style="background-color: white">
        <div class="treecards" style ="">
          <div class="mb-2 mt-2">
            <h5 class="treecards-title text-center ml-2"> Reservas </h5>
            <input type="number" class="form-control col-12" value="" name ="visitas" id="visitas"> 
            <input type="number" class="form-control col-12" value="" name ="visitas" id="visitas">                    
            <div class="input-group my-1">
              <!-- <sf> -->
            </div>  
          </div>
        </div>
      </div> 

      <div class="col-md-9"  style="background-color: white">
        <div class="treecards" style ="">
            <!-- <div class="treecards-body"> -->
            <div class="mb-3">
            <h5 class="treecards-title text-center"> Cancelamento </h5>
            <input type="number" class="form-control col-12" value="" name ="visitas" id="visitas"> 
            <input type="number" class="form-control col-12 mt-2 mb-2" value="" name ="visitas" id="visitas">  
            <div class="input-group my-1">
              <!-- <sf> -->
            </div>  
          </div>                    
          <!-- </div> -->
        </div>
      </div>  



    </div>

    <section class="col-8 mb-3">
    <div class="row"  style="background-color: white">
      <!-- <div class="ondecards" style ="">
        
          <div class="row treecards-body"> -->
        
          
          <div class="booking-form row col-12 ml-2">
         
            <div class="row col-12">
            <h5 class="col-4 text-center">Bairro</h5>
            <h5 class="col-4 text-center">Reserva</h5>
            <h5 class="col-4 text-center">Delta</h5>   
            </div>

            <div class="row col-12 mb-2">
            <input type="text" class="form-control col-4" value="" name ="nome" id="nome">
            <input type="number" class="form-control col-4" value="" name ="nome" id="nome">
            <input type="number" class="form-control col-4" value="" name ="nome" id="nome">  
            </div>   
            
            <div class="row col-12 mb-2">
            <input type="text" class="form-control col-4" value="" name ="nome" id="nome">
            <input type="number" class="form-control col-4" value="" name ="nome" id="nome">
            <input type="number" class="form-control col-4" value="" name ="nome" id="nome">  
            </div>   

            <div class="row col-12 mb-2">
            <input type="text" class="form-control col-4" value="" name ="nome" id="nome">
            <input type="number" class="form-control col-4" value="" name ="nome" id="nome">
            <input type="number" class="form-control col-4" value="" name ="nome" id="nome">  
            </div>  

            <div class="row col-12 mb-2">
            <input type="text" class="form-control col-4" value="" name ="nome" id="nome">
            <input type="number" class="form-control col-4" value="" name ="nome" id="nome">
            <input type="number" class="form-control col-4" value="" name ="nome" id="nome">  
            </div>   
          </div>
    </div>
  </section> 
  </div>
  </div>
</main> 

<div class="containe2 col-12 mt-2  mb-3">
  <!-- <div class="row" style="background-color: rgb(233, 47, 47) !important"> -->
  <div class="row" style="background-color: #f65d00;">
  
  <div class="col-12 mt-5 mb-3">
    <div class="booking-form-box">

      <h3 class="text-center text-black mb-5">Reservas agendadas</h3>
      <form action="/rezervas/update " method="POST">
      <div class="booking-form row col-12 ml-5">
      <div class="input-grp col-4">
      <label>Nome</label>
      <input type="text" class="form-control" value="" name ="nome" id="nome">
      </div>

      <div class="input-grp col-2">
      <label>Escolha uma data</label>
      <input type="date" class="form-control" value="" name ="Data" id="Data">
      </div>

      <div class="input-grp col-1">        
      <label>Check-in</label>
      <input type="time" class="form-control" value="" name="horario" id="horario">
      </div>
  
     
      <div class="input-grp col-1">
      <label>Adultos</label>
      <input type="number" class="form-control" value="" name="Adulto" id="Adulto">
      </div>
      
      <div class="input-grp col-2">
      <label>Escolha um setor</label>
      <input type="number" class="form-control" value="" name="Setor" id="Setor">  
      </div>

      <div class="input-grp col-2 mt-4">
      <button type="submit" class="btn- btn-primary">Cancelar</button>
      </div>   
      
     
      </div>

      <div class="booking-form row col-12 ml-5">
        <div class="input-grp col-4">
        <label>Nome</label>
        <input type="text" class="form-control" value="" name ="nome" id="nome">
        </div>
  
        <div class="input-grp col-2">
        <label>Escolha uma data</label>
        <input type="date" class="form-control" value="" name ="Data" id="Data">
        </div>
  
        <div class="input-grp col-1">        
        <label>Check-in</label>
        <input type="time" class="form-control" value="" name="horario" id="horario">
        </div>
    
       
        <div class="input-grp col-1">
        <label>Adultos</label>
        <input type="number" class="form-control" value="" name="Adulto" id="Adulto">
        </div>
        
        <div class="input-grp col-2">
        <label>Escolha um setor</label>
        <input type="number" class="form-control" value="" name="Setor" id="Setor">  
        </div>
  
        <div class="input-grp col-2 mt-4">
        <button type="submit" class="btn- btn-primary">Cancelar</button>
        </div>   
        
       
        </div>


      </div>


  </div> 
</div>
</div>

<div class="container03 col-12 mt-2" style="background-color: lightgray !important">
  
<!--aqui -->
  <section class="col-12 mb-3 mt-2">

    <div class=""  style="">
      <form action="/admins/save" method="POST">
        <div class="form-row">
          <div class="form-group col-md-12">
            <div class="row col-12 mt-4">
            <div class="col-9">
            <label for="input-nome" class="h4">Endereço completo</label>
            <input type="text" class="form-control" name="endereco" id="input-endereco" placeholder="Endereço completo">
            </div>
            <div class="col-2 mt-4">
            <button type="submit " class="btn btn-second ml-5">Editar</button>
            </div>
          </div>
        </div>

        <div class="row col-12">
        <div class="form-group col-6">
          <div class="row col-12">
          <div class="col-6">
            <label for="input-nome" class="h4">Tipo de cozinha</label>
            <input type="text" class="form-control" name="cozinha" id="input-cozinha" placeholder="Tipo de cozinha">
          </div>
          <div class="col-2 mt-4">
          <button type="submit " class="btn btn-second ml-5">Editar</button>
          </div>
        </div>
      </div>

      <div class="form-group col-6">
        <div class="row col-12">
        <div class="col-6">
          <label for="input-nome" class="h5">Preço médio p/ cliente</label>
          <input type="text" class="form-control" name="preco" id="input-cozinha" placeholder="Preco">
        </div>
        <div class="col-2 mt-4">
        <button type="submit " class="btn btn-second ml-5">Editar</button>
        </div>
      </div>
    </div>
    </div>
    


      <div class="form-group col-md-12">
        <div class="row col-12">
        <div class="col-5">
          <label for="input-nome" class="h4">Sobre o restaurante</label>
          <input type="text" class="form-control" name="restaurante" id="input-restaurante" placeholder="Sobre o restaurante">
        </div>
        <div class="col-2 mt-4">
        <button type="submit " class="btn btn-second ml-5">Editar</button>
        </div>
      </div>
      </div>

      <div class="form-group col-md-12">
        <div class="row col-12">
        <div class="col-5">
          <label for="input-nome" class="h4">Agenda</label>
          <input type="text" class="form-control" name="agenda" id="input-af[genda" placeholder="Agendamentos">
        </div>
        <div class="col-2 mt-4">
        <button type="submit " class="btn btn-second ml-5">Editar</button>
        </div>
      </div>
      </div>
    </div>
        
          <div class="form-group col-md-12 alert alert-success">
            O melhor restaurante da região
          </div>
        
        <button type="submit" class="btn btn-primary mt-1 mb-2 ml-3">Editar</button>
      </form>
    </div>
  </section> 
</div>

<!-- aqui -->
 <div class="container04 col-12 mt-3 mb-3" style="background-color: lightgray !important">  
  <form action="/rezervas/save" method="POST">
    <div class="row booking2">
    <div class="booking-form-box">
    
    <h3 class="booking text-center">Mesas</h3>
    
    <div class="booking-form col-12">
      <div class="row col-12">
      <div class="input-grp col-6">
      <label>Data</label>
      <input type="date" class="form-control select-date" name="Data" id="Data">
      </div>
  
      <div class="input-grp col-6">
      <label>Horário do Check-in</label>
      <input type="time" class="form-control select-time" name="Horario" id="Horario">
      </div>
     </div>

     <div class="row col-12">
      <div class="input-grp col-6">
      <label>Data</label>
      <input type="date" class="form-control select-date" name="Data" id="Data">
      </div>
  
      <div class="input-grp col-6">
      <label>Horário do Check-in</label>
      <input type="time" class="form-control select-time" name="Horario" id="Horario">
      </div>
     </div>   

    
    <div class="input-grp ml-3">
    <label>Nome do setor</label>
    <input type="text" class="form-control" value="" name="nome" id="nome">
    </div>
    
   
    <div class="input-group my-1">
    <!-- <button type="submit" class="btn- btn-primary flight">Rezervar</button> -->
    </div>
    
    </div>
    </div>

    <!-- aqui -->
</div>
  
 </div>   
  
<%- include('./partials/footer'); %> 
</body>
</html>