<%- include('./partials/head'); %> 
<%- include('./partials/headerclean'); %> 

<link rel='stylesheet' href='stylesheets/stylebooking.css' />

<main>
<section class="" id="">
  <div class="cocobambu">
    <h3 class="bambu row justify-content-center">Coco Bambu</h3>
 </div>

<div class="container">
<div class="row col-12 ml-2">
<div class="col-sm-12 col-md-6">     
<img src="/images/cocobambu3.jpg" class="img-responsive2 cocofoot" alt="restaurante">
</div>


<div class="col-sm-12 col-md-6">  
<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZopH6Ylxn1g"></iframe>
</div>
<div class=" gastronomia row justify-content-center mb-3 mt-1">
<p class="puro">Coco Bambu o puro prazer da gastronomia internacional</p>
</div>
</div>
</div>
</div>


</section>


<div class="inforoute mt-4">
  <div class="row ml-5 mt-4">
      <ul>
          <div class="row ml-1" id="maps">
            <div class="col-8">
          <li class="mt-4 ml-2"> Veja no Wase como chegar : </li>
          </div>
           <div class="col-4 mt-4">
          <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.5205842050254!2d-46.6726956854796!3d-23.585655884670828!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59e20a539265%3A0xa5e944aa4fd9192d!2sCoco%20Bambu%20-%20JK!5e0!3m2!1spt-BR!2sbr!4v1613497505125!5m2!1spt-BR!2sbr" width="50" height="50" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> -->
          <a href="https://ul.waze.com/ul?place=ChIJ12-1CuJZzpQRWVBcfEBEEuo&ll=-23.58563150%2C-46.67043410&navigate=yes&utm_campaign=default&utm_source=waze_website&utm_medium=lm_share_location">Link</a>
          </div>        
          </div>
  
          <div class="col-12 mt-4">
          <li>Aberto das: 12 as 24 Horas</li>
          </div>
          <div class="col-12 mt-4">
          <li>Cozinha Mediterrânea - De R$ 40 a R$ 100 por pessoa</li>
         </div>
      </ul> 
  </div>
  </div>

<!-- section - referencia palavra - booking  -->
<body>
    <section class="formulario mt-5" id="formulario">
    <form action="/rezervas/save" method="POST">
      <!-- <form action="/rezervas/save" method="POST"> -->
    <div class="row booking2 ml-5">
    <div class="booking-form-box">
    
    <h3 class="booking">Faça sua rezerva</h3>
    
    <div class="booking-form">
    
    <div class="input-grp">
    <label>Horário do Check-in</label>
    <input type="time" class="form-control select-time" name="Horario" id="Horario">
    </div>
    
    <div class="input-grp">
    <label>Escolha uma data</label>
    <input type="date" class="form-control select-date" name="Data" id="Data">
    </div>
    
    <div class="input-grp">
    <label>Adultos</label>
    <input type="number" class="form-control" value="1" name="Adulto" id="Adulto">
    </div>
    
    <div class="input-grp">
    <label>Crianças</label>
    <input type="number" class="form-control" value="0" name="Crianca" id="Crianca">
    </div>
    
    <div class="input-grp">
    <label>Escolha um setor</label>
    <select class="custom-select" name="Setor" id="Setor">  
    <option type="text">Mezanino</option>
    <option type="text">Jardim</option>
    <option type="text">Area Vip</option>
    </select>
    </div>
   
    
    <div class="input-group my-1">
    <button type="submit" class="btn- btn-primary">Rezervar</button>
    </div>

    <!-- <div>
    <h7>Deseja selecionar uma mesa ?</h7>
    </div> -->
    <div>
    <!-- <div> -->
    <!-- <button type="submit" class="btn- btn-second flight">Sim</button> -->
    <!-- <a href="rezervas/areas" class="btn btn-second ml-auto" role="button">Sim</a>  
    </div> -->
    </div>
    
    </div>
    </div>
     
    <!-- payment -->
    <div class="booking-form-box">
    
      <h1 class="booking"> Pagamento</h1>      
      <div class="booking-form">
      <label>Nome</label>
      <input type="text" class="form-control" placeholder="Name">
      
      <label>Número</label>
      <input type="text" class="form-control" placeholder="Number">
      
      <div class="input-grp">
      <label>Validade</label>
      <input type="date" class="form-control select-date">
      </div>
      
      <div class="input-grp">
      <label>CVV</label>
      <input type="date" class="form-control select-date">
      </div>
      
      <div class="input-grp">
      <label>Parcelameto</label>
      <select class="custom-select">  
      <option value="1">1-Parcela</option>
      <option value="2">2-Parcela</option>
      <option value="3">3-Parcela</option>
      </select>
      </div>
      
      <div class="input-group my-1">
      <button type="submit" class="btn- btn-primary flight">Confirmar</button>
      </div>
      
      </div>
      </div>
      </div>
    </form>


      <section>
      <div  class="descritivo ml-5">
      <div>
      <h5 class="mt-5">Sobre o restaurante</h5>
      <p>Lorem  Ipsumis  simply  dummy  text  of  the  printing  and  typesetting industry.  Lorem Ipsum  has  been  the  industry's  standard  dummy  text  ever  since  the  1500s,  when  an unknown printer took a galley of type and scrambled it to make a type specimen book. It has  survived  not  only  five  centuries,  but  also  the  leap  into  electronic typesetting, remaining  essentially  unchanged.  It  was  popularised  in  the  1960s  with  the  release  of Letraset  sheets  containing  Lorem  Ipsum  passages,  and  more  recently  with  desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>

       <div>
       <h5>Agenda</h5>
       <p>Quarta e quinta: voz e violão(MPB) - Classicas</p>
       <p>Sexta: Banda ao Vivo(Samba) - Fundo de Quintal</p>
       <p>Sádado: danda ao Vivo (MPB-Rock) - Vários </p>
       </div>

       <h5>Fotos</h5>
       <div class="container fotos">         
         <div class=row id="row">
          <!-- coluna 1 -->
         <div class="col-md-4 altura1" id="altura1">
         <img src="images/cocobambu2.jpg" class="img responsive center-block" id="altura1">
         </div>

        <!-- coluna 2 -->
        <div class="col-md-4 altura2" id="altura2">
        <img src="images/cocobambu3.jpg" class="img responsive center-block" id="altura2">
        </div>

        <!-- coluna 3 -->
        <div class="col-md-4 altura3" id="altura3">
        <img src="images/cocobambu10.jpg" class="img responsive center-block" id="altura3">
        </div>






         </div>
       
       </div>

      <div>
      <h5>Informações Gerais</h5>
      <p>É um excelente ambiente para almoço ou jantar com a família e de negócios</p>
      </div>
     </div>
    </section>
      
    </section>
    </body>
    </main>
     <!-- area footer -->
  <%- include('./partials/footer'); %> 
</html>


