<%- include('./partials/head'); %> 
  <%- include('./partials/headerclean'); %> 
  <main class="container">
    <section class="mt-3" id="users">
      <h1>Cadastro de Usuários</h1>      
    </section>
  </main>
  <%- include('./partials/footer'); %> 
</body>
</html>