<footer class="footer col-lg-12">
  <div class="w-100 bg-black d-flex align-items-center justify-content-around" >
  <div class="icons col-sm-3">
      <i class="fab fa-twitter-square"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-facebook-square"></i>
    </div>
    <div>
      <P>Rezerva Sistemas - Rua Jota, 89, Vila Claudete <br> São Paulo - SP | Brasil CEP 12345-678 </P>
      
    </div class="Grupo7">
    <div>
      Desenvolvido por Grupo 7- Digital House
    </div>
    </div>

  </footer>
</body>
</html>  


  