body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
 
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* HEADER */
.container-fluid {
  margin-left: 500px;
}

button.btn.btn-primary {
  margin: left: 300px;
  margin-left: 980px;
  position: absolute;
  background-color: green;
  color: white;
 
}

/* cliente */
section.cliente{
  display: flex;
  padding: 10px;
  background-color: #caca7d;
  position: relative;
  height: 600px;
  /* margin-top: 10px; */

img {
    width: 900px;
    position: relative;
}

section.button{
  display: flex;
  position: relative
}

h3 {
  position: absolute;
  font-weight: bold;
  font-size: 1.75rem;
  margin-top: 100px;
  margin-left: 150px;

}
p {
  position: absolute;
  margin-top: 200px;
  margin-left: 350px;
  color: orange;
  font-weight: bold;
  }

button.btn.btn-second {
  position: absolute;
  margin-top: 270px;
  margin-left: -550px;
  background-color: green;
  color: white;
  }

/* <!-- section 2 - rezerva - carrocel --> */
.card-deck {
  margin-top: 200px;
}

.container2 {
  background-color: #72A200;
  position: relative;
  margin-top: 5px;
  /* height: auto; */
  height: 700px;
}

h2.rezerva{
  color: white;
  font-size: 2rem;
}
















