
<%- include('./partials/head'); %> 
<%- include('./partials/header'); %>   

   <main class = "container">
    <!-- section1- Cliente -->
    <section class = "cliente">
      <h3 class="rezerva">Deixe o seu cliente <br> escolher onde ele <br> quer sentar !</h3>
      <p class="rezerva">rezerva é o jeito simples <br> de administrar a ocupação <br> do seu restaurante</p>
      <img src="/images/product-3.jpg">
      <button type="submit" class="btn btn-second">Cadastre-se</button>
    </section>

     <!-- section 2 - rezerva - carrocel -->    
    <!-- nova abordagem -->
        <!-- <div class="container2"> -->
    
    <div class="container2">
    <div class="rezerva">
      <h2>Com o rezerva você poderá</h2>
    </div>           
      <div class="card-deck">              
          <div class="col-12 col-md-6 col-lg-3">
            <div class="card" style ="">
              <img src="/images/product-4.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Restaurante A</h5>
                <p class="card-text">Tem uma página<br>pública do seu <br> restaurante para que <br> os clientes reservem <br> uma mesa</p>                      
              </div>
            </div>
          </div> 

          <div class="col-12 col-md-6 col-lg-3">
            <div class="card" style ="">
              <img src="/images/product-4.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Restaurante B <B></B></h5>
                <p class="card-text">Tem uma página<br>pública do seu <br> restaurante para que <br> os clientes reservem <br> uma mesa</p>                      
              </div>
            </div>
          </div>
            
          <div class="col-12 col-md-6 col-lg-3">
            <div class="card" style ="">
              <img src="/images/product-4.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Restaurante C</h5>
                <p class="card-text">Tem uma página<br>pública do seu <br> restaurante para que <br> os clientes reservem <br> uma mesa</p>                      
              </div>
            </div>
          </div>
          
          <div class="col-12 col-md-6 col-lg-3">
            <div class="card" style ="">
              <img src="/images/product-4.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Restaurante D</h5>
                <p class="card-text">Tem uma página<br>pública do seu <br> restaurante para que <br> os clientes reservem <br> uma mesa</p>                      
              </div>
            </div>
          </div>
                
              </div>
            </div>
          

  <!-- section 3 - Cadastre seu restaurante -->
  <section class="cadastre">   
      <h3 class="cadastre">Cadastre seu <br> restaurante agora</h3>
      <p class="cadastre">É simples e prático: clique no botão abaixo e preencha os <br> dados. Dentro de poucos minutos sua página já estará no ar e <br>você poderá divulgar em todos os canais de comunicação mais conhecidos</p>
      <button type="submit" class="btn btn-third">Cadastre-se</button>
    </section>

  <!-- section 4 - Oque os clientes dizem -->
  <section class="container4">    
  
  <h3 class="clientes" >O que os clientes <br> estão dizendo</h3>
  <p class="clientes">Amanda Justino<br> O restaurante é massa <br>"O rezerva facilitou muito o nosso trabalho! Nos permitiu criar um banco de dados de todos os nossos clientes</p>
  
  <p class="clientes">Amanda Justino<br> O restaurante é massa <br>"O rezerva facilitou muito o nosso trabalho! Nos permitiu criar um banco de dados de todos os nossos clientes</p>
  
  <p class="clientes">Amanda Justino<br> O restaurante é massa <br>"O rezerva facilitou muito o nosso trabalho! Nos permitiu criar um banco de dados de todos os nossos clientes</p>

  
  <button type="submit" class="btn btn-fourth">Cadastre-se</button> 
</section>
</main>
  <!-- area footer -->
  <%- include('./partials/footer'); %> 
  </body>

</html>
