
<%- include('./partials/head'); %> 
<%- include('./partials/header'); %>   

   <main class = "container">
    <!-- section1- Cliente -->
    <section class = "cliente">
      <h3>Deixe o seu cliente escolher onde ele quer sentar</h3>
      <p>rezerva é o jeito simples de administrar a ocupação do seu restaurante</p>
      <img src="/images/product-3.jpg">
      <button type="submit" class="btn btn-primary">Cadastre-se</button>
    </section>

    <section class = "carousel">
    <!-- section 2 - rezerva - carrocel -->
    <p>Com o rezerva você poderá</p> 
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/product-1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/product-2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/product-3.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
      </a>
    </div>
  </section>

  <!-- section 3 - Cadastre seu restaurante -->
  <section class="Cadastre">   
      <h3>Cadastre seu <br> restaurante agora</h3>
      <p>É simples e prático: clique no botão abaixo e preencha os dados. Dentro de poucos minutos sua página já estará no ar e você poderá divulgar em todos os canais de comunicação mais conhecidos</p>
      <button type="submit" class="btn btn-primary">Cadastre-se</button>
    </section>

  <!-- section 4 - Oque os clientes dizem -->
  <section class="clientes">    
  </section>
  <h3>Oque os clientes <br> estão dizendo</h3>
  <p>Amanda Justino<br> O restaurante é massa <br>"O rezerva facilitou muito o nosso trabalho! Nos permitiu criar um banco de dados de todos os nossos clientes</p>
  </main>
  <!-- area footer -->
  <%- include('./partials/footer'); %> 
  </body>

</html>
