body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
/* HEADER */

.container00{
  padding: 2px;
  display: flex;
  align-items: center;
}

.nav-link{
color: rgb(0, 0, 0) !important;
font: times news roman, serif ;
font-weight: bold;
/* font-size: 1rem; */
padding:2%;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: .8rem;
  padding-left: .8rem;
}

.navbar-nav.ml-auto {
  text-align: center;
  display: inline-block;
 
}

.nav-item {
  display: inline-block;
  /* font-size: min(20px,2vw); */
  font-size: min(13px,1.5vw);
  /* font-size: 100%; */
  
}

.img-responsive {
  max-width: 60%;
}

/*1- Input de pesquisa */
#search {
  font-size: min(20px,2vw);
}

button#btn-search {
  /* font-size: min(20px,2vw); */
  font-size: min(15px,1.5vw);
  margin-top: 4px;
}

form.row {
  position: absolute;
  margin-left: 10%;
}

/* a.nav-link {
  font-size: min(10px,1.5vw);
}

ul.navbar-nav.ml-auto {
  display: flex;
} */

/*1- palavra referencia - cliente */

.container {
  display: flex;
  margin-bottom: 5%;
  margin-top: 2%;
  padding: 2px;
}

p.cliente {
  color: orange;
  float: center;
  font-size: min(25px,2vw);
  font-weight: bold;
}

.titlecliente {
    color:black;
    margin-left: 15%;
    margin-top: 10%;
    font-size: min(25px,2vw);
   font-weight: bold;
   }

.max h5{
  font-size: max(18px, 2vw);
}

.card-text {
  color:rgb(201, 99, 99);
  font-weight: bold;
  color: orange;
  
}

.card-bodycliente {
position: absolute;
width: 100%;
display: flex;
flex-direction: column;
margin: 0 auto;
}

.card-body {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  }

.jeitosimples {
  margin-left: 55%;
  font-size: 100%;
  font-weight: bold;
}

/* ajuste da distancia em relaçao ao primeiro container  */
.general {
  position: relative;
  margin-top: -18%;
}
/* 2- palavra referencia rezerva  */
.container2 {
  background-color: #72A200;
  position: relative;
  height: auto;
  margin-bottom: 7%;
  margin-top: 2%;
  padding: 5em 1em 10em 1em;
}

.text-white {
  color: #fff !important;
  font-size: max(20px, 2vw);
  font-weight: bold;
}

.rezerva {
    color: rebeccapurple;
    font-size: 2rem;
    position: relative;
    display: flex;
    /* text: white;  */
}


.card-deck {
    display: flex;
    /* verificar as margens */
    flex-flow: row wrap;
    margin-top: 5%;
    padding: 0%;
}


/* section 3 - Cadastre */
.container3{ 
    position: relative;
    margin-bottom: 5%;
    margin-top: 2%;
    -webkit-box-shadow: -5px -10px 30px #900, 6px 9px 15px rgba(219, 114, 15, 0.774); 
}

.cadastre{
  display: flex;
  text-align:right;
}

h3.text-center{
  font-size: max(25px, 2vw);
  font-weight: bold;

}

/* section 4 - Clientes */

.container4 {
  display:flex;
  /* background: linear-gradient(to bottom, #f65d00); */
  /* background-color: linear-gradient(to bottom, #f65d00); */
  background-color: #f65d00;
  position: relative; 
  padding: 2px;
}

.clientes4 {
    size: 50%;
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    border-radius: 50px;

}

.row {
  /* display: -ms-flexbox; */
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: 8%;
}

.amandaprincipal{
  display: flex;
}

.amanda{
   font-size: min(18px, 3vw);
}

.amandarmassa {
    font-size: min(14px, 3vw);
}

.footer {
  color: rgb(201, 99, 99);
  background-color: black;
} 

footer.footer {
  height: auto;
  justify-content: center;
  display: flex;
  position: relative;
  align-items: center;
  font-size: max(12px, 1vw);
  padding: 2%;
}

footer {
  height: 100px;
}

footer .icons {
  font-size: 200%;
  font-size: min(20px,2vw);
} 


/* botoes */

.btn.btn-primary {
  background-color: black;
  font-weight: bold; 
  color: white;
  font-size: min(20px,2vw);
  }

.btn.btn-second.ml-auto {
    background-color: rgb(64, 168, 32);
    font-weight: bold;
    color: white;
    font-size: min(20px,2vw);
  }

  /* a.btn.btn-second.ml-auto {
    margin-right: auto;
} */

button.btn.btn-third {
  background-color: rgb(64, 168, 32);
  font-weight: bold; 
  color: white;
  font-size: min(20px,2vw);

}

  /* busca */
button.btn-search {
max-width: 100%;
color: rgb(0, 0, 0) !important;
font: times news roman, serif ;
font-weight: bold;
border: #f65d00;

}

input#search {
  margin-left: -50%;
  width: 150%;
}
/* 
input.form-control {
  margin-left: -50%;
  width: 150%;
} */



.botaocadastre{
margin-right: 49%;
margin-top: 2%;
margin-bottom: 1%;
}


button.btn.btn-fourth {
background-color: rgb(64, 168, 32);
font-weight: bold; 
color: white;
font-size: min(20px,2vw);

}













